                * {
                    margin: 0px;
                    padding: 0px;
                }
                
                .bg {
                    background-image: url("../Assets/im2.svg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-color:#cfdcff;
                }
                .nome{
                    margin-top: 5px;
                    color:#4c4dc2;
                    font-size: 150px;
                    margin: auto;
                    text-align: center;
                    font-family: 'Vujahday Script', cursive;
                    
                
                }
                .container1{
                    display: flex;
                    flex-direction: row;

                }
                nav{
                    margin: 5px;
                    padding:10px;
                    border: 1px solid;
                    text-align: center;
                    color: #FFF;
                    font-size:30px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    background-color: #4c4dc2;
                

                }
                nav:hover{
                    background-color: #cfdcff;
                    color: #000;
                    
                }

                 .btn{
                    text-align:end;
                    padding: 25px;
                    text-align: center;
                    color: red;
                    font-size:25px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    
                }
